/* Responsive Design */
@media only screen and (max-width: 450px) {
  .ht {
    font-size: 25px;
  }
}

/* Partie Main */
#nano {
    background-image: url(Images/dmitry-berdnyk-xgoD7bEyO6E-unsplash.jpg);
    height: 400px;
}

.ht {
    text-transform: uppercase;
    color: #fffafa;
    line-height: 1;
    letter-spacing: 0.25em;
}

main ul>li {
    list-style-type: none;
}

#nano>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 5em;
    justify-content: center;
    padding-top: 2em;
}

.reseau {
    width: 5em;
}

.tm {
    text-align: center;
}

#réseau {
    background-color: #cacaca;
    padding: 0.5em;
    margin: 1em;
}

form {
    background-color: #a3a3a3;
    padding: 1em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label[for="rens"] {
    vertical-align: top;
}

textarea {
    vertical-align: top;
}

#nano {
    display: flex;
    gap: 400px;
}

#nano>img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 800px;
    border: solid 3px black;
}

.form {
    display: flex;
    gap: 100px;
}

input {
    width: 30%;
    margin-left: 18px;
}

textarea {
    width: 80%;
}
